@font-face {
  font-family: 'Queensides';
  src: url('../assets/fonts//Queensides-3z7Ey.ttf');
}

@font-face {
  font-family: 'sparkystones';
  src: url('../assets//fonts/SparkyStonesRegular-BW6ld.ttf')
}

@font-face {
  font-family: 'brussels';
  src: url('../assets/fonts/BrusselsCityPersonalUsed-L3Lon.otf');
}

@font-face {
  font-family: 'chalkboard';
  src: url('../assets/fonts/Chalkboard-SE-2.ttf');
}