@tailwind base;
@tailwind components;
@tailwind utilities;

.font-newroman {
  font-family: 'Times New Roman', Times, serif;
}

.font-queensides {
  font-family: 'Queensides';
}

.font-sparkystone {
  font-family: 'sparkystones';
}

.font-brussels {
  font-family: 'brussels';
}

.font-chalkboard {
  font-family: 'chalkboard';
}

@font-face {
  font-family: "cgge"; /* Project id 4096748 */
  src: url('//at.alicdn.com/t/c/font_4096748_2rkmcnhuh96.woff2?t=1686626196413') format('woff2'),
       url('//at.alicdn.com/t/c/font_4096748_2rkmcnhuh96.woff?t=1686626196413') format('woff'),
       url('//at.alicdn.com/t/c/font_4096748_2rkmcnhuh96.ttf?t=1686626196413') format('truetype'),
       url('//at.alicdn.com/t/c/font_4096748_2rkmcnhuh96.svg?t=1686626196413#cgge') format('svg');
}

.cgge {
  font-family: "cgge" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cgge-analysis:before {
  content: "\e615";
}

.cgge-arrow-up:before {
  content: "\e688";
}

.cgge-menu:before {
  content: "\eaf1";
}

.cgge-search:before {
  content: "\e6a0";
}

.cgge-download:before {
  content: "\e6a1";
}

.cgge-browse:before {
  content: "\e6a2";
}

.cgge-contact:before {
  content: "\e6a3";
}

.cgge-help:before {
  content: "\e6a4";
}

.cgge-home:before {
  content: "\e6a5";
}
