@tailwind base;
@tailwind components;
@tailwind utilities;

.font-newroman {
  font-family: 'Times New Roman', Times, serif;
}

@font-face {
  font-family: "cgge"; /* Project id 4096748 */
  src: url('//at.alicdn.com/t/c/font_4096748_g4yimhmcaj.woff2?t=1685551004545') format('woff2'),
       url('//at.alicdn.com/t/c/font_4096748_g4yimhmcaj.woff?t=1685551004545') format('woff'),
       url('//at.alicdn.com/t/c/font_4096748_g4yimhmcaj.ttf?t=1685551004545') format('truetype'),
       url('//at.alicdn.com/t/c/font_4096748_g4yimhmcaj.svg?t=1685551004545#cgge') format('svg');
}

.cgge {
  font-family: "cgge" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cgge-menu:before {
  content: "\eaf1";
}

.cgge-search:before {
  content: "\e6a0";
}

.cgge-download:before {
  content: "\e6a1";
}

.cgge-browse:before {
  content: "\e6a2";
}

.cgge-contact:before {
  content: "\e6a3";
}

.cgge-help:before {
  content: "\e6a4";
}

.cgge-home:before {
  content: "\e6a5";
}
